body {
	margin: auto;
	background: rgb(242,203,103);
	color: rgb(157,24,17);
	font-family:Helvetica Neue, Arial, Lucida, sans-serif;
}

#login #button{
	color:white;
	font-family:Helvetica Neue, Arial, Lucida, sans-serif;
	font-size:.8em;
	border: 1px solid grey;
	padding: 5px 10px 5px 10px;
	font-weight:0;
	background:brown;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(122,78,32)), to(rgb(122,60,20)));
	background: -moz-linear-gradient(90deg,rgb(122,78,32),rgb(122,60,20));
 	-webkit-box-shadow: 1px 1px 1px #fff;
 	-webkit-border-radius: 6px; -moz-border-radius:6px;
 	text-align:center;
}

#login #button:hover{
	text-decoration:none; 
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(256,30,30)), to(rgb(220,50,50)));
	background: -moz-linear-gradient(90deg,rgb(250,30,30),rgb(250,50,50));
	cursor: pointer;
}

#loginLink #button{
	margin-top: 5px;
	margin-left: 5px;
	color:white;
	font-family:Helvetica Neue, Arial, Lucida, sans-serif;
	font-size:.8em;
	border: 1px solid grey;
	padding: 5px 10px 5px 10px;
	font-weight:0;
	background:green;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(122,78,32)), to(rgb(122,60,20)));
	background: -moz-linear-gradient(90deg,rgb(122,78,32),rgb(122,60,20));
 	-webkit-box-shadow: 1px 1px 1px #fff;
 	-webkit-border-radius: 6px; -moz-border-radius:6px;
 	text-align:center;
}

#loginLink #button:hover{
	text-decoration:none; 
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(256,30,30)), to(rgb(220,50,50)));
	background: -moz-linear-gradient(90deg,rgb(250,30,30),rgb(250,50,50));
	cursor: pointer;
}

#login_box {
	border: none;
	float: left;
}

#login_box {
	color: grey;
	font-style: italic;
	font-size: .8em;
	width: 190px;
	height: 22px;
	padding: 8px 5px 0;
	background: white no-repeat;
	margin-right: 5px;
	-webkit-box-shadow: 1px 1px 1px white;
 	-webkit-border-radius: 6px; -moz-border-radius:6px;
}

#login_box:focus {
	background: white url(search_bg.gif) no-repeat left -38px;
	outline: none;
}

#container {
	width: 1000px;
	margin: auto;
}

#header{
	display:block;
	margin:auto;
	width:1000px;
	text-align:center;
	margin-top:100px;
}

#header h1{	
        font-size: 90px;
        font-weight:200; 
        letter-spacing:1px; 
        line-height:22px;
}
	
#header ul {
	list-style: none;
	padding-left: 40px;
	margin: 0;
        text-align: center;
        font-family: Helvetica Neue, Arial, Lucida, sans-serif; 
        font-size:18px; 
        font-weight:200; 
        letter-spacing:1px; 
        line-height:22px; 
        text-align:center;
}

    
#header li {
	float: left;
	border-right: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;
}

#header li:nth-child(5){
	border-right:none;
}
    
#header a {
	text-decoration: none;
	display: block;
	padding: 0.24em 1em;
	color: rgb(157,24,17);
	width: 8em;
	text-align: center;
}
		
#content{
	padding: 0 1em;
	text-align: left;
	font-family: Helvetica Neue, Arial, Lucida, sans-serif;
        font-size:22px; 
        font-weight:200; 
        letter-spacing:1px; 
        line-height:22px; 
        width: 500px;
        margin-left: 50px;
}

#email {
	display: block;
        margin: auto;
        padding-left: 270px;
	text-align: right;
	margin-right: 50%;
	font-family: Helvetica Neue, Arial, Lucida, sans-serif;
        font-size:16px; 
        font-weight:200; 
        letter-spacing:1px; 
        line-height:22px;  
}

#email #submit {
	color:white;
	font-family:Helvetica Neue, Arial, Lucida, sans-serif;
	font-size: .8em;
	border: 1px solid grey;
	padding: 5px 10px 5px 10px;
	font-weight:0;
	background:green;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(122,78,32)), to(rgb(122,60,20)));
	background: -moz-linear-gradient(90deg,rgb(122,78,32),rgb(122,60,20));
 	-webkit-box-shadow: 1px 1px 1px #fff;
 	-webkit-border-radius: 6px; -moz-border-radius:6px;
 	text-align:center;
}

#email #submit:hover{
	text-decoration:none; 
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(256,30,30)), to(rgb(220,50,50)));
	background: -moz-linear-gradient(90deg,rgb(250,30,30),rgb(250,50,50));
	cursor: pointer;
}

	
